// Button Styles
.btn {
    @include heading-font;
    font-weight: 700;
    border-radius: 3rem;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $gray-900 ;
    &:active,
    &:focus,
    &:hover {
        background-color: darken($primary, 5%) !important;
        border-color: darken($primary, 5%) !important;
    color: $gray-900 ;
    }
    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 166, 204, 0.5) !important;
    }
}
